/* Intentional Errors: Find and fix them! */
*{
    margin:0;
    padding:0;
}
.header {
    width:100%;
    height:100vh;
    background-image:url('pics.jpg');
    /*background-image:linear-gradient(midnightblue,rgba(4,9,30,0.7)),url('./assets/banner.png');
    background-image: url(Web-team-WIT\image\webdev.jpeg);*/
    }
span{
    color:#6f1386;
}
.navbar{
    width:101%;
    margin:auto;
    padding: 15px 0px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    font-weight: bold;
}
.navbar a{
    width: 60px;
    border-radius: 30%;
  }
.navbar ul li{
    list-style:none;
    display: inline-block;
    margin:0 20px;
    position:relative;
}
.navbar ul li a{
    text-decoration:none;
    color:#5a6155;
    text-transform: uppercase;

}
.navbar ul li ::after{
    content:'';
    height:3px;
    width: 0;
    background: #410649;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li :hover::after{
    width:100%;
}
.content{
    width:100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    color:#fff;
}
.content h2{
    font-size:30px;
    margin-top:80px;
    color:#c9c7c7;
}
.content h3{
    font-size:60px;
    margin-top:20px;
    color:#f3ecf3;
}
.content h4{
    color: #eee9e9;
    letter-spacing:2px;
    font-size:20px;

}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}

body, html {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(187, 183, 125), rgb(182, 189, 125));
}

.about{
    width:100%;
    padding:100px 0px;
    background-color:rgb(182, 189, 125);
}
.about img{
    height:auto;
    width: 430px;
    position: left;
}
.about-text{
    width:550px;
}
.main {
    width: 100%; 
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh; 
}

.about-text h5{
    color:#390947;
    letter-spacing:2px;
    font-size: 25px;
    margin-bottom:25px;
    text-transform:capitalize;
}
.about-text h6{
    color:#390546;
    letter-spacing:2px;
    font-size: 20px;
    margin-bottom:25px;
}
.about-text p{
    color:#110e0e;
    letter-spacing:2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:45px;
}
button{
    background-color:rgb(105, 103, 67);
    color:rgb(137, 148, 36);
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:13px 30px;
    border-radius: 30px;
    transition:0.5s;
}
button:hover{
    background-color: transparent;
    border:2px solid;
}
.service{
    background:rgb(182, 189, 125);
    width:100%;
    padding:100px 0px;

}
.title h2{
color:black;
font-size:75px;
width:1130px;
margin:30px auto;
text-align: center;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 500px;
    width:500px;
    /* padding:20px 35px; */
    padding: 5px 6px 3px;
    background:rgb(116, 109, 46);
    border-radius:20px;
    margin:15px;
    position:relative;
    overflow:hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display:block;
    text-align:center;
    margin:25px 0px;
    color:rgb(43, 41, 27);

}
.pra p{
    color:rgb(206, 192, 171);
    font-size:16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color:rgb(105, 103, 67);
    color:rgb(137, 148, 36);
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:9px 20px;
    border-radius: 30px;
    transition:0.5s;
}
.card .button:hover{
    background-color: transparent;
    border:2px solid;
}
.contact{
    width:100%;
    height: 290px;
    background:rgb(182, 189, 125);;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
}
.contact p{
color:black;
font-size:20px;
margin-bottom: 25px;
padding: 0 20px;
}
.contact .button-two{
    background-color:rgb(105, 103, 67);
    color:rgb(137, 148, 36);
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:9px 20px;
    border-radius: 30px;
    transition:0.5s;

}
.contact .button:hover{
    background-color: transparent;
    border:2px solid;
}
.contact h1{
    color:#585828;
    float: center; 
    letter-spacing:6px;
    font-size: 20px;
    margin-bottom:50px;
    margin-top: 10px;
    text-transform:capitalize;
}

.icon-container {
    display: flex; 
    gap: 10px; 

}
.button-two {
    font-size: 24px; 
    text-decoration: none; 
    color: #333;
}


.button-two:hover {
    color: #010507; 
}
.contact  a img {
    float: center; 
    width: 80px; 
    height: 80px; 
    margin-top: 150px;
    margin-bottom:5px;
    border-radius: 50%; 
}

